* {
  border: 1px solid red;
}

html,
body {
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

#main {
  width: 100vw;
  height: auto;
  flex-direction: column;
}

#header {
  width: inherit;
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

#content {
  width: inherit;
  min-height: 90vh;
  background-color: black;
}



